[Desktop Entry]
Type=Service
Name=My fancy action plugin
Name[ca]=Un connector d'acció ferma
Name[nl]=Mijn elegante actieplug-in
Name[tr]=Janjanlı eylem eklentim
Name[uk]=Додаток для моїх чудових дій
Name[x-test]=xxMy fancy action pluginxx
X-KDE-Library=kde_git_dolphin_plugin
X-KDE-ServiceTypes=KFileItemAction/Plugin
MimeType=application/octet-stream;inode/directory;
ServiceTypes=KFileItemAction/Plugin
