[Desktop Entry]
Name=Git Klient Diff
Name[ca]=Git Klient Diff
Name[ca@valencia]=Git Klient Diff
Name[en_GB]=Git Klient Diff
Name[es]=Diferencias de Git Klient
Name[fr]=Comparateur pour client « Git »
Name[nl]=Git Klient Diff
Name[pt]=Diferenças do Git Klient
Name[sl]=Odjemalec Git Diff
Name[tr]=Git Klient Diff
Name[uk]=Різниця git Klient
Name[x-test]=xxGit Klient Diffxx
Exec=gitklient diff
Icon=gitklient
Type=Application
X-DocPath=gitklient/index.html
GenericName=Git client gui for KDE
GenericName[ca]=Client gràfic del Git per al KDE
GenericName[ca@valencia]=Client gràfic de Git per a KDE
GenericName[en_GB]=Git client GUI for KDE
GenericName[es]=Interfaz gráfica de cliente git para KDE
GenericName[fr]=Client « Git » avec interface utilisateur pour KDE
GenericName[nl]=Git-client-gui voor KDE
GenericName[pt]=Interface gráfica do Git para o KDE
GenericName[sk]=Git client gui pre KDE
GenericName[sl]=Grafični vmesnik odjemalca Git za KDE
GenericName[tr]=KDE için Git Grafik Kullanıcı Arayüzü
GenericName[uk]=Клієнтська графічна оболонка до git для KDE
GenericName[x-test]=xxGit client gui for KDExx
Categories=Development
