[Desktop Entry]
Name=Kommit
Name[ca]=Kommit
Name[ca@valencia]=Kommit
Name[cs]=Kommit
Name[de]=Kommit
Name[en_GB]=Kommit
Name[es]=Kommit
Name[fi]=Kommit
Name[fr]=Kommit
Name[it]=Kommit
Name[ka]=Kommit
Name[nl]=Kommit
Name[pl]=Kommit
Name[pt]=Kommit
Name[sl]=Kommit
Name[tr]=Kommit
Name[uk]=Kommit
Name[x-test]=xxKommitxx
Exec=kommit
Icon=kommit

Type=Application
X-DocPath=kommit/index.html
GenericName=Git client GUI
GenericName[ca]=IGU de client del Git
GenericName[ca@valencia]=IGU de client de Git
GenericName[de]=Grafisches Git-Programm
GenericName[en_GB]=Git client GUI
GenericName[es]=Interfaz de cliente de Git
GenericName[nl]=Git-client GUI
GenericName[pt]=Interface gráfica do Git
GenericName[sl]=Grafični odjemalec Git
GenericName[tr]=Grafik Arayüzlü Git İstemcisi
GenericName[uk]=Графічний клієнт Git
GenericName[x-test]=xxGit client GUIxx
Categories=Development
