[Desktop Entry]
Name=Git Klient Merge
Name[ca]=Git Klient Merge
Name[ca@valencia]=Git Klient Merge
Name[en_GB]=Git Klient Merge
Name[es]=Fusión de Git Klient
Name[fr]=Fusion pour le Klient « Git »
Name[it]=Git Klient Merge
Name[nl]=Git Klient Merge
Name[pt]=Junção do Git Klient
Name[sl]=Odjemalec Git Merge
Name[tr]=Git Klient Birleştir
Name[uk]=Об'єднання git Klient
Name[x-test]=xxGit Klient Mergexx
Name[zh_CN]=Git Klient 合并
Exec=gitklient merge
Icon=gitklient
Type=Application
X-DocPath=gitklient/index.html
GenericName=Git client gui for KDE
GenericName[ca]=Client gràfic del Git per al KDE
GenericName[ca@valencia]=Client gràfic de Git per a KDE
GenericName[en_GB]=Git client GUI for KDE
GenericName[es]=Interfaz gráfica de cliente git para KDE
GenericName[fr]=Client « Git » avec interface utilisateur pour KDE
GenericName[it]=Interfaccia client Git per KDE
GenericName[nl]=Git-client-gui voor KDE
GenericName[pt]=Interface gráfica do Git para o KDE
GenericName[sk]=Git client gui pre KDE
GenericName[sl]=Grafični vmesnik odjemalca Git za KDE
GenericName[tr]=KDE için Git Grafik Kullanıcı Arayüzü
GenericName[uk]=Клієнтська графічна оболонка до git для KDE
GenericName[x-test]=xxGit client gui for KDExx
GenericName[zh_CN]=KDE Git 图形客户端
Categories=Development
