[Desktop Entry]
Name=Kommit Merge
Name[ca]=Merge del Kommit
Name[ca@valencia]=Merge de Kommit
Name[cs]=Kommit Merge
Name[en_GB]=Kommit Merge
Name[es]=Fusión de Kommit
Name[it]=Kommit Merge
Name[ka]=Kommit შერწყმა
Name[nl]=Kommit Merge
Name[pt]=Junção do Kommit
Name[sl]=Kommit Merge
Name[tr]=Kommit Birleştir
Name[uk]=Об'єднання Kommit
Name[x-test]=xxKommit Mergexx
Exec=kommit merge
Icon=kommit

Type=Application
X-DocPath=kommit/index.html
GenericName=Git client gui for KDE
GenericName[ca]=Client gràfic del Git per al KDE
GenericName[ca@valencia]=Client gràfic de Git per a KDE
GenericName[cs]=GUI git klient od KDE
GenericName[de]=Git-Programm für KDE
GenericName[en_GB]=Git client GUI for KDE
GenericName[es]=Interfaz gráfica de cliente git para KDE
GenericName[eu]=KDEren Git GUI bezeroa
GenericName[fi]=KDE:n Git-asiakaskäyttöliittymä
GenericName[fr]=Client « Git » avec interface utilisateur pour KDE
GenericName[it]=Interfaccia client Git per KDE
GenericName[ka]=Git-ის კლიენტი KDE-სთვის
GenericName[nl]=Git-client-gui voor KDE
GenericName[pl]=Interfejs Gita dla KDE
GenericName[pt]=Interface gráfica do Git para o KDE
GenericName[sk]=Git client gui pre KDE
GenericName[sl]=Grafični vmesnik odjemalca Git za KDE
GenericName[tr]=KDE için Git Grafik Kullanıcı Arayüzü
GenericName[uk]=Клієнтська графічна оболонка до git для KDE
GenericName[x-test]=xxGit client gui for KDExx
GenericName[zh_CN]=KDE Git 图形客户端
GenericName[zh_TW]=KDE 的 Git 用戶端介面
Categories=Development
