[Desktop Entry]
Name=Git Klient
Name[ca]=Git Klient
Name[ca@valencia]=Git Klient
Name[cs]=Klient pro Git
Name[de]=Git Klient
Name[en_GB]=Git Klient
Name[es]=Git Klient
Name[eu]=Git Klient
Name[fi]=Git Klient
Name[fr]=Klient Git
Name[it]=Git Klient
Name[ka]=Git Klient
Name[nl]=Git Klient
Name[pl]=Git Klient
Name[pt]=Git Klient
Name[sk]=Git Klient
Name[sl]=Odjemalec Git
Name[tr]=Git Klient
Name[uk]=Git Klient
Name[x-test]=xxGit Klientxx
Name[zh_CN]=Git Klient
Name[zh_TW]=Git Klient
Exec=gitklient
Icon=gitklient
Type=Application
X-DocPath=gitklient/index.html
GenericName=Git client gui for KDE
GenericName[ca]=Client gràfic del Git per al KDE
GenericName[ca@valencia]=Client gràfic de Git per a KDE
GenericName[de]=Git-Programm für KDE
GenericName[en_GB]=Git client GUI for KDE
GenericName[es]=Interfaz gráfica de cliente git para KDE
GenericName[eu]=KDEren Git GUI bezeroa
GenericName[fi]=KDE:n Git-asiakaskäyttöliittymä
GenericName[fr]=Client « Git » avec interface utilisateur pour KDE
GenericName[it]=Interfaccia client Git per KDE
GenericName[ka]=Git-ის კლიენტი KDE-სთვის
GenericName[nl]=Git-client-gui voor KDE
GenericName[pl]=Interfejs Gita dla KDE
GenericName[pt]=Interface gráfica do Git para o KDE
GenericName[sk]=Git client gui pre KDE
GenericName[sl]=Grafični vmesnik odjemalca Git za KDE
GenericName[tr]=KDE için Git Grafik Kullanıcı Arayüzü
GenericName[uk]=Клієнтська графічна оболонка до git для KDE
GenericName[x-test]=xxGit client gui for KDExx
GenericName[zh_CN]=KDE Git 图形客户端
GenericName[zh_TW]=KDE 的 Git 用戶端介面
Categories=Development
