[Desktop Entry]
Name=Git Klient Diff
Name[ca]=Git Klient Diff
Name[ca@valencia]=Git Klient Diff
Name[en_GB]=Git Klient Diff
Name[es]=Diferencias de Git Klient
Name[eu]=Git Klient Diferentzia
Name[fr]=Comparateur pour le Klient « Git »
Name[it]=Git Klient Diff
Name[ka]=Git Klient Diff
Name[nl]=Git Klient Diff
Name[pt]=Diferenças do Git Klient
Name[sl]=Odjemalec Git Diff
Name[tr]=Git Klient Diff
Name[uk]=Різниця git Klient
Name[x-test]=xxGit Klient Diffxx
Name[zh_CN]=Git Klient 差异
Exec=gitklient diff
Icon=gitklient
Type=Application
X-DocPath=gitklient/index.html
GenericName=Git client gui for KDE
GenericName[ca]=Client gràfic del Git per al KDE
GenericName[ca@valencia]=Client gràfic de Git per a KDE
GenericName[en_GB]=Git client GUI for KDE
GenericName[es]=Interfaz gráfica de cliente git para KDE
GenericName[eu]=KDEren Git GUI bezeroa
GenericName[fr]=Client « Git » avec interface utilisateur pour KDE
GenericName[it]=Interfaccia client Git per KDE
GenericName[ka]=Git-ის კლიენტი KDE-სთვის
GenericName[nl]=Git-client-gui voor KDE
GenericName[pt]=Interface gráfica do Git para o KDE
GenericName[sk]=Git client gui pre KDE
GenericName[sl]=Grafični vmesnik odjemalca Git za KDE
GenericName[tr]=KDE için Git Grafik Kullanıcı Arayüzü
GenericName[uk]=Клієнтська графічна оболонка до git для KDE
GenericName[x-test]=xxGit client gui for KDExx
GenericName[zh_CN]=KDE Git 图形客户端
Categories=Development
